/* default style removal */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #EDE6D3;
    min-height: 100vh;
    color: #2F3849;
    display: flex;
    flex-direction: column;
}



/* Header */

header {
    background-color: #f2ede0;
    height: 54px;
    width: 100%;
    box-shadow: 0 2px 2px #2F3849;
    position: fixed;
    display: flex;
}

header a {
    text-decoration: none;
    color: #2F3849;
    text-transform: uppercase;
    padding-left: 20px;
    align-self: center;
}

/* Main Content */

main {
    padding-top: 54px;
}

/* Main content art grid */

#art-grid {
    min-height: 500px;
    background-color: #2F3849;
    color: #f2ede0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}

.grid-box {
    margin: 40px;
    width: 250px;
    height: 250px;
    background-color: #f2ede0;
    color: #2F3849;
    border: solid 1px transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
}