/* default style removal */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #EDE6D3;
    min-height: 100vh;
    color: #2F3849;
    display: flex;
    flex-direction: column;
}



/* Header */

header {
    background-color: #f2ede0;
    height: 54px;
    width: 100%;
    box-shadow: 0 2px 2px #2F3849;
    position: fixed;
    display: flex;
    z-index: 99;
}

header a {
    text-decoration: none;
    color: #2F3849;
    text-transform: uppercase;
    padding-left: 20px;
    align-self: center;
}

/* Main Content */

main {
    padding-top: 54px;
}

/* Main content art grid */

#art-grid {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: fit-content;
    background-color: #EDE6D3;
    color: #2F3849;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    align-self: center;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: solid 1px black;
}

.grid-box {
    min-width: 250px;
    min-height: 250px;
    max-width: 350px;
    background-color: #2F3849;
    color: #f2ede0;
    border: solid 0px transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    margin: 5px;
}


.grid-text {
    width: 210px;
    height: 70px;
    margin: 10px;
}

.grid-box h2 {
    color: #f2ede0;
}

.grid-box p {
    color: #f2ede0;
    max-width: 220px;
}

.grid-box-two {
    width: 90%;
    min-height: 180px;
    border: inherit;
    border-radius: inherit;
    position: relative;
    left: 5%;
    bottom: 20px;
}

.grid-box-two img {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    border: inherit;
    border-radius: inherit;
    box-shadow: 2px 2px 2px 1px black;
}