/* default style removal */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #EDE6D3;
    min-height: 100vh;
    color: #2F3849;
    display: flex;
    flex-direction: column;
}



/* Header */

header {
    background-color: #f2ede0;
    height: 54px;
    width: 100%;
    box-shadow: 0 2px 2px #2F3849;
    position: fixed;
    z-index: 99;
    display: flex;
}

header a {
    text-decoration: none;
    color: #2F3849;
    text-transform: uppercase;
    padding-left: 20px;
    align-self: center;
}

/* Main Content */

main {
    padding-top: 54px;
}

/* Main content art grid */

.flex-row {
    padding-top: 50px;
    min-height: 200px;
    background-color: #EDE6D3;
    color: #2F3849;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-row-two {
    padding-bottom: 50px;
    min-height: 500px;
    background-color: #EDE6D3;
    color: #2F3849;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-box {

    width: 250px;
    height: 350px;
    background-color: #2F3849;
    color: #f2ede0;
    border: solid 0px transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    margin: 10px;
    flex-basis: auto;
}


.grid-text {
    max-width: 210px;
    max-height: 50px;
    position: relative;
    left: 22.5px;
    margin-top: 20px;
}

.grid-box h2 {
    color: #f2ede0;
}

.grid-box p {
    color: #f2ede0;
    max-width: 220px;
}

.grid-box-two {
    width: 90%;
    max-height: 200px;
    border: inherit;
    border-radius: inherit;
    position: relative;
    left: 12.5px;
    top: 12.5px;

}

.grid-box-two img {
    max-width: 100%;
    max-height: 200px;
    border: inherit;
    border-radius: inherit;
    box-shadow: 2px 2px 2px 1px black;
}

/* Media querys */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger ( 768px and up ) */
@media screen and (min-width: 768px) {
    .grid-box {
        flex-basis: 40%;
    }
}

/* Media query: 992px and up */
@media screen and (min-width: 992px) {

    .grid-box {
        flex-basis: 40%;
    }
}

/* Media query: 1200px and up */

@media screen and (min-width: 1200px) {

    .grid-box {
        flex-basis: auto;
    }
}